* {
box-sizing: border-box;

}

body{
  margin: 0;
  
}

.nav1{
  position: sticky;
  top:0;
  left: 0;
  right: 0;

}

.ul1{
  display: flex;
  flex-direction: row;
  
  background-color: black;
  padding: 10px;
  margin-right: 10px;
  margin: 0;
}


.nav1 .ul1 li{
  list-style: none;
  padding: 10px;
  text-decoration:none;
  padding-top: 16px;

}

.nav1 .ul1 li a{
 color: white;
  text-decoration: none;
  transition: all 700ms;
  font-size: 18px;
  

}


.nav1 .ul1 li a:hover{
   color: #D7B56D;
   text-decoration: underline;
   
 
}

.nav1 .ul1 li:hover{
 color: #D7B56D;
}

.head1{
  display: flex;
  background-image: url(/images/1.jpg);
  height: 100vh;
  background-size: cover;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img_logo{
  width: 140px;
  height: 60px;
  margin: 0 0 0 300px;
  
}

.img_text_logo{
  
  height: 36px;
  width: 152px;
  transform: translateX(-30px) translateY(6px);


}

.logo_all{
  width: 20px;
  height: 20px;
}




.number{
 text-align: center;
 color: white;
 text-align: end;
 padding-left: 100px;
 color: #D7B56D;

 
}

.telef_logo{
  width: 20px;
  height: 20px;
  transform: translateX(90px) translateY(15px);
}

.back_call{
  display: inline-block;
  color: #D7B56D;
  align-items: flex-end;
  transform: translateX(-116px) translateY(20px);
  


}



.main_head{
  display: flex;
  background-image: url(/images/DSC09905\ 2\ \(1\).jpg);
  height: 100vh;
  background-size: cover;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfol{
    display: flex;
    color: black;
    /* margin: 140px ; */
    padding-left: 130px;
   
    
  
    
}

#im3{
   align-self: flex-start;
}

#im4{
  align-self: flex-end;
  transform:translateX(-310px) translateY(-13px);
}

